html,
body {
    margin: 0;
    padding: 0;
}

table,
th,
td {
    margin-left: 20%;
    border: solid 2px black;
    border-collapse: collapse
}

table{
    width: 60%
}

th{
    height: 50px
}

th,td{
    padding: 15px
}

tr:nth-child(14){
    background-color: red;
    font-weight: bolder;
    font-size: 1.2em;
    color: white;
}